/* navbar */
.custom-navbar {
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.dropdown-menu {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.dropdown-item {
    color: #333;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-weight: 500;
}
.dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
    transform: translateX(5px);
    box-shadow: inset 0 0 5px rgba(255,255,255,0.3);
}
.signup-btn, .login-btn {
    background-color: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 40%;
    padding: 8px;
}
.violet {
    color: #6a11cb;
}

/* hero section slider */
.carousel-item {
    position: relative;
    text-align: center;
   
}
.carousel-item img {
    height: 650px;
    object-fit: cover;
}
.product-info {
    position: absolute;
    bottom: 78px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    
}
.buy-now-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}
/* products section */
.card-img-top {
    height: 200px; 
    object-fit: cover; 
}
.product-price {
    font-size: 16px;
    color: #28a745;
    font-weight: bold;
    margin-bottom: 10px;
}
.card {
    background: linear-gradient(135deg, #fffde7, #fff9c4);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}
.card:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}